body{
  background-color:#b7d7e8;
}


h1{
  text-align: center;
  color:purple;
}
p{
  text-align: center;
  color:blue;
}
ul{
  color: blue;
  }
h3{
  color: purple;
}
h2{
  color:purple;
}
